*{
    box-sizing: border-box;
    
}
.dropdown-item-wrapper {
    display: flex; 
    padding: 20px 40px;
    float: left !important;
    overflow: hidden !important;
    

    /* position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);     */
        
}

NavDropdown{
    float: left !important;
    
}

.navbar-dark{
    color: white !important;
}

.custom-navbar{
    background-color: rgba(0, 28, 44, 0.9) !important;
    
   
}
.nav-link{
    color:rgb(255,255,255) !important;
}

.original-navbar{
    color:white !important;

    
}

.navbar-toggler-icon{
    background-image: url("../../images/hamburgerIcon.png") !important;
}



.dropdown-item-wrapper ul{
    list-style: none;
    padding: 0;
    margin:0;
    width:25%;
    
}

.dropdown-item-wrapper ul li p{
    width:100%;
    height:100%;
    padding:10px;
    
    
}
.navbar-brand{
    color:white !important;
}


.dropdown-item-wrapper ul li{
    font-size: 15px;
    padding: 10px;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Makes the mega menu items full width */
.nav-item.dropdown {
    position: inherit;
    margin-right:auto;
  }


.dropdown-item span:hover{
    border-bottom: 1px solid yellow;
 
}


/* span.navbar-toggler-icon{
    color: #fff !important;

} */

/* .navbar-collapse .collapse{
    color: #fff !important;

} */

/* button.navbar-toggler{
    color: #fff !important;
    background-color: #fff !important;

} */

/* #basic-navbar-nav {
    color: #fff !important;
} */

/* Nav.Link .get-pricing {
    border:5px solid yellow !important;
    border-left: 1px solid #fafafa !important;
} */

/* @media screen and (min-width:768px){
    .dropdown-item-wrapper {
        display: flex; 
        
    }
} */
@media screen and (max-width:768px){
    .dropdown-item-wrapper {
        flex-direction: column;
        max-height:60vh;
        overflow-y:scroll;      
        
    }
    .dropdown-item{
        color:white !important;
    }
    .hide-this {
        display:none;
        margin-top:0;
    
    }
    .original-navbar{
        color:white !important;
        background-color: rgb(0,28,44) !important;
    }
    
    div.dropdown-menu.show{
        background-color: transparent;
        outline:none;
    }

     /* Hiding scrollbar for Chrome, Safari and Opera */
    .dropdown-item-wrapper::-webkit-scrollbar {
        display: none;
    }

        /* Hiding scrollbar for IE, Edge and Firefox */
        .dropdown-item-wrapper {
        scrollbar-width: none;  /* Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
    }
        
        
    
}
